<section class="basket">
	<div class="container">
		<div class="option-block">
			<div class="sort">
				<span>Сортировать</span>
				<select>
					<option>По цене</option>
					<option>По дате</option>
					<option>По цене</option>
					<option>По дате</option>
				</select>
			</div>	<!-- sort -->
			<div class="right">
				<div class="show">
					<span>отображение</span>
					<div class="btn-block">
						<button class="line"></button>
						<button class="table"></button>
					</div>	<!-- btn-block -->
				</div>
				<div class="quantity">
					<span>Показать товаров</span>
					<select>
						<option value="">46</option>
						<option value="">20</option>
						<option value="">30</option>
						<option value="">40</option>
					</select>
				</div>
			</div>	<!-- right -->
		</div>	<!-- option-block -->
	</div>	
	<div id="maxVersion">
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
	</div>	<!-- maxVersion -->
	<div id="minVersion" style="display: none;">		
		<div class="container other-items-product">
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->
			<div class="item">
				<div class="left">
					<div class="descr">
						Аккумулятор Moratti 12V10Ahзалит. п/п ток 95 152x88x131
					</div>	<!-- descr -->
					<div class="info">
						<span><b>Размер:</b> 11x22x51</span>
						<span><b>Бренд:</b> noname</span>
					</div>	<!-- info -->
					<div class="quantity">
						Очень много
					</div>	<!-- quantity -->	
				</div>	<!-- left -->
				<div class="right">
					<div class="new-price">22 910,00</div>
					<div class="old-price">19 910,00</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">удалить</button>
					<a href="javascript:void(0);" class="more">Подробнее</a>
				</div>	<!-- right -->
				<div class="dropdown-item-block">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="right-drop">								
						<div class="descr">
							Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
						</div>	<!-- descr -->								
						<ul class="info">
							<li><b>Размер</b> 12х21х44 </li>
							<li><b>Бренд</b> Noname</li>
							<li><b>Цвет</b> Жёлтый</li>
						</ul>
						<div class="price">
							<div class="new">21 910,00 </div>
							<div class="old">Без скидки 2 100,00</div>
						</div>	<!-- price -->
						<button class="toBasket">удалить</button>
					</div>
				</div>	<!-- dropdown-item-block -->
			</div>	<!-- item -->					
		</div>	<!-- other-items -->
	</div>	<!-- container -->
	<div class="basket-footer">
		<div class="container">
			<a href="#" class="backToShoping">вернуться к покупкам</a>
			<div class="right">
				<div class="saving">Экономия <span>4245 руб.</span></div>
				<div class="totalSum">
					<p>Итоговая сумма</p>
					<span class="price">22 910,00</span>
				</div>	<!-- totalSum -->
				<button>оформить покупку</button>
			</div>	<!-- right -->
		</div>
	</div>	<!-- basket-footer -->
</section>
<script>
	$('button.line').on('click',function(){
		$('#maxVersion').show();
		$('#minVersion').hide();
	});

	$('button.table').on('click',function(){
		$('#maxVersion').hide();
		$('#minVersion').show();
	});
</script>