<footer>
	<div class="container">
		<div class="top">
			<div class="left">
				<a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>
				<div class="info">
					<a href="tel:80455229505" class="phone">8 (045) 522-95-05</a>
					<span class="adress">г. Москва ул. Ленина д. 152</span>
					<a href="#modal" class="order-call">Заказать звонок</a>
				</div>	<!-- info -->
			</div>	<!-- left -->
			<div class="right">
				<div class="about">
					<h5>О компании</h5>
					<ul>
						<li><a href="#">О нас</a></li>
						<li><a href="#">Наши сертификаты</a></li>
						<li><a href="#">Контакты</a></li>
					</ul>
				</div>
				<div class="client">
					<h5>Клиентам</h5>
					<ul>
						<li><a href="#">Логистика</a></li> 
						<li><a href="#">Условия работы</a></li>
						<li><a href="#">Как стать нашим клиентом</a></li>
					</ul>
				</div>
				<ul>
					<li><a href="#">Название раздела</a></li>
					<li><a href="#">Название раздела</a></li>
					<li><a href="#">Название раздела</a></li>
					<li><a href="#">Название раздела</a></li>
					<li><a href="#">Название раздела</a></li>
					<li><a href="#">Название раздела</a></li>
					<li><a href="#">Название раздела</a></li>
					<li><a href="#">Название раздела</a></li>
				</ul>
			</div>
		</div>	<!-- top -->
		<div class="bottom">
			<div class="top-bottom">
				<div class="social">
					<span>Мы в социальных сетях</span>
					<ul>
						<li><a href="#"><img src="upload/social-link-footer.png" height="25" width="25" alt=""></a></li>
						<li><a href="#"><img src="upload/social-link-footer.png" height="25" width="25" alt=""></a></li>
						<li><a href="#"><img src="upload/social-link-footer.png" height="25" width="25" alt=""></a></li>
					</ul>
				</div>	<!-- social -->
				<div class="newsletter">
					<span>Подписаться на новости</span>
					<form action="#">
						<div class="form">
							<input type="text" placeholder="Ваш е-mail">
							<button></button>
						</div>	<!-- form -->
					</form>
				</div>	<!-- newsletter -->
			</div>	<!-- top-bottom -->
			<p>Друмлин ослабляет возмущающий фактор, тем не менее, Дон Еманс включил в список всего 82-е Великие Кометы. Весеннее <br> равноденствие вызывает каркасный ионный хвост. В связи с этим нужно подчеркнуть, что зандровое поле ничтожно деформирует</p>
		</div>	<!-- bottom -->
	</div>
</footer>
<div id="modal">
	<h3>Заказать обратный звонок</h3>
	<form action="#">
		<input type="text" required placeholder="Ваше имя">
		<input type="text" required placeholder="Ваш телефон">
		<button>Отправить</button>
	</form>
</div>