<header>
	<div class="top-header">
		<div class="container">
			<div class="left">
				<a href="#modal" class="phone order-call">8 (045) 522-95-05 (заказать звонок)</a>
				<span>г. Москва ул. Ленина д. 152</span>
			</div>	<!-- left -->
			<div class="right">
				<a href="#" class="client">Как стать клиентом</a>
				<a href="#" class="login">Вход для клиентов</a>
			</div>	<!-- right -->
		</div>
	</div>	<!-- top-header -->
	<div class="header">
		<div class="container">
			<div class="top">
				<a href="index.html" class="logo"><img src="img/logo.svg" alt=""></a>
				<div class="search">
					<span><b>Поиск</b>
						<!--<span class="hide">по названию, артик, производителю</span>-->
					</span>
					<div class="input">
						<input type="text" placeholder="Например: чистящее средство для салона">
					</div>
					<button class="btn-search"></button>
				</div>	<!-- search -->
				<div class="right">
					<div class="file">
						<input type="file" id="file1">
						<label for="file1">Загрузить заявку</label>
					</div>	<!-- file -->
					<a href="basket.html" class="basket">Корзина
						<span class="bottom"><b>25 товаров</b> на 12 820 руб.</span>
						<div class="basket-dropdown">
							<span class="title">Последние добавленные</span>
							<div class="item">
								<div class="image">
									<img src="upload/product2.jpg" height="936" width="1000" alt="">
								</div>
								<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
								<div class="descr">
									<span>111387s</span>
									<span>yt12bbs</span>
									<span>moratti</span>
								</div>
								<div class="price">
									<span class="new">21 910,00 </span>
									<span class="old">Без скидки 2 100,00</span>
								</div>
								<button>в корзину</button>
							</div>	<!-- item -->
							<div class="item">
								<div class="image">
									<img src="upload/product2.jpg" height="936" width="1000" alt="">
								</div>
								<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
								<div class="descr">
									<span>111387s</span>
									<span>yt12bbs</span>
									<span>moratti</span>
								</div>
								<div class="price">
									<span class="new">21 910,00 </span>
									<span class="old">Без скидки 2 100,00</span>
								</div>
								<button>в корзину</button>
							</div>	<!-- item -->
						</div>	<!-- basket-dropdown -->
					</a>	<!-- basket -->
				</div>	<!-- right -->
			</div>	<!-- top -->
			<div class="bottom">
				<button class="catalog" id="btn-catalog"><span><i></i><i></i><i></i></span>Весь каталог</button>
				<div class="menu">
					<ul>
						<li><a href="work-selection.html">Автомасла</a>
							<div class="dropdown-section">
								<div class="left">
									<h3>Автомасла</h3>
									<ul>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
									</ul>
								</div>	<!-- left -->
								<div class="right">
									<h4>Спец предложения</h4>
									<div class="special">
										<div class="image">
											<img src="upload/product.png" height="120" width="184" alt="">
										</div>	<!-- image -->
										<div class="info">
											<p class="name">Аккумулятор Moratti <br>12V10Ah залит. п/п ток 95</p>
											<div class="descr">
												<span>111387s</span>
												<span>yt12bbs</span>
												<span>moratti</span>
											</div>	<!-- descr -->
											<div class="price">
												<span class="new">21 910,00</span>
												<span class="old">Без скидки 2 100,00</span>
											</div>	<!-- price -->
											<button class="toBasket">в корзину</button>
										</div>	<!-- info -->
									</div>	<!-- special -->
								</div>	<!-- right -->
							</div>	<!-- dropdown-section -->
						</li>
						<li><a href="worksub.html">Аксессуары</a>
							<div class="dropdown-section">
								<div class="left">
									<h3>Аксессуары</h3>
									<ul>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
									</ul>
								</div>	<!-- left -->
								<div class="right">
									<h4>Спец предложения</h4>
									<div class="special">
										<div class="image">
											<img src="upload/product.png" height="120" width="184" alt="">
										</div>	<!-- image -->
										<div class="info">
											<p class="name">Аккумулятор Moratti <br>12V10Ah залит. п/п ток 95</p>
											<div class="descr">
												<span>111387s</span>
												<span>yt12bbs</span>
												<span>moratti</span>
											</div>	<!-- descr -->
											<div class="price">
												<span class="new">21 910,00</span>
												<span class="old">Без скидки 2 100,00</span>
											</div>	<!-- price -->
											<button class="toBasket">в корзину</button>
										</div>	<!-- info -->
									</div>	<!-- special -->
								</div>	<!-- right -->
							</div>	<!-- dropdown-section -->
						</li>
						<li><a href="worksub.html">Запчасти</a>
							<div class="dropdown-section">
								<div class="left">
									<h3>Запчасти</h3>
									<ul>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
									</ul>
								</div>	<!-- left -->
								<div class="right">
									<h4>Спец предложения</h4>
									<div class="special">
										<div class="image">
											<img src="upload/product.png" height="120" width="184" alt="">
										</div>	<!-- image -->
										<div class="info">
											<p class="name">Аккумулятор Moratti <br>12V10Ah залит. п/п ток 95</p>
											<div class="descr">
												<span>111387s</span>
												<span>yt12bbs</span>
												<span>moratti</span>
											</div>	<!-- descr -->
											<div class="price">
												<span class="new">21 910,00</span>
												<span class="old">Без скидки 2 100,00</span>
											</div>	<!-- price -->
											<button class="toBasket">в корзину</button>
										</div>	<!-- info -->
									</div>	<!-- special -->
								</div>	<!-- right -->
							</div>	<!-- dropdown-section -->
						</li>
						<li><a href="worksub.html">Автохимия</a>
							<div class="dropdown-section">
								<div class="left">
									<h3>Автохимия</h3>
									<ul>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
									</ul>
								</div>	<!-- left -->
								<div class="right">
									<h4>Спец предложения</h4>
									<div class="special">
										<div class="image">
											<img src="upload/product.png" height="120" width="184" alt="">
										</div>	<!-- image -->
										<div class="info">
											<p class="name">Аккумулятор Moratti <br>12V10Ah залит. п/п ток 95</p>
											<div class="descr">
												<span>111387s</span>
												<span>yt12bbs</span>
												<span>moratti</span>
											</div>	<!-- descr -->
											<div class="price">
												<span class="new">21 910,00</span>
												<span class="old">Без скидки 2 100,00</span>
											</div>	<!-- price -->
											<button class="toBasket">в корзину</button>
										</div>	<!-- info -->
									</div>	<!-- special -->
								</div>	<!-- right -->
							</div>	<!-- dropdown-section -->
						</li>
						<li><a href="worksub.html"><b>%</b>Акции</a>
							<div class="dropdown-section">
								<div class="left">
									<h3>Акции</h3>
									<ul>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
										<li><a href="workcatalog.html">Название под раздела</a></li>
									</ul>
								</div>	<!-- left -->
								<div class="right">
									<h4>Спец предложения</h4>
									<div class="special">
										<div class="image">
											<img src="upload/product.png" height="120" width="184" alt="">
										</div>	<!-- image -->
										<div class="info">
											<p class="name">Аккумулятор Moratti <br>12V10Ah залит. п/п ток 95</p>
											<div class="descr">
												<span>111387s</span>
												<span>yt12bbs</span>
												<span>moratti</span>
											</div>	<!-- descr -->
											<div class="price">
												<span class="new">21 910,00</span>
												<span class="old">Без скидки 2 100,00</span>
											</div>	<!-- price -->
											<button class="toBasket">в корзину</button>
										</div>	<!-- info -->
									</div>	<!-- special -->
								</div>	<!-- right -->
							</div>	<!-- dropdown-section -->
						</li>
					</ul>
				</div>	<!-- menu -->
				<div class="right-menu">
					<ul>
						<li class="truck"><a href="worktext.html">Доставка</a></li>
						<li class="call-center"><a href="worktext.html">Клиентам</a></li>
						<li class="contacts"><a href="worktext.html">Контакты</a></li>
						<li class="about"><a href="worktext.html">О компании</a></li>
					</ul>
				</div>	<!-- right-menu -->
				<div class="dropdown-catalog">
					<ul>
						<li><a href="worksub.html">Автомасла</a></li>
						<li><a href="worksub.html">Аксессуары</a></li>
						<li><a href="worksub.html">Запчасти</a></li>
						<li><a href="worksub.html">Автохимия</a></li>
						<li><a href="worksub.html">Акции</a></li>
						<li><a href="worksub.html">Автомасла</a></li>
						<li><a href="worksub.html">Аксессуары</a></li>
						<li><a href="worksub.html">Автохимия</a></li>
					</ul>
				</div>	<!-- dropdown-catalog -->
			</div>	<!-- bottom -->
		</div>
	</div>	<!-- header -->
</header>