<meta charset="utf-8">
<meta name="viewport" content="">
<link rel="stylesheet" href="fonts/fonts.css">
<link rel="stylesheet" href="vender/slick/css/slick.css">
<link rel="stylesheet" href="vender/scrollbar/jquery.scrollbar.css">
<link rel="stylesheet" href="vender/noUiSlider/nouislider.min.css">
<link rel="stylesheet" href="vender/fancybox/css/jquery.fancybox.css">
<link href="css/style.css" rel="stylesheet" type="text/css">
<script src="vender/jquery/jquery-2.2.4.js"></script>
<script src="vender/noUiSlider/nouislider.min.js"></script>
<script src="vender/wNumb.js"></script>
<script>
	var viewport = document.createElement("meta");
    viewport.setAttribute("name", "viewport");
    if (screen.width < 480) {
        viewport.setAttribute("content", "width=480");
    } else {
        viewport.setAttribute("content", "width=device-width, initial-scale=1");
    }
    document.head.appendChild(viewport); 
</script>
