<header class="basket">
	<div class="container">
		<div class="top">
			<a href="index.html" class="logo"><img src="img/logo2.svg" alt=""></a>
		</div>	<!-- top -->
		<div class="bread-crumps">
			<a href="#">Название раздела</a><span>/</span>
			<a href="#">Корзина  </a><span>/</span>			
		</div>	<!-- bread-crumps -->
		<div class="bottom">
			<div class="left">
				<h1>Корзина</h1>
				<span class="order">Заказ № 14515</span>
			</div>
			<div class="right">
				<a href="#">вернуться к покупкам</a>
				<a href="#">загрузить корзину из файла</a>
			</div>
		</div>	<!-- bottom -->
	</div>
</header>