<section class="main">
	<div class="main-slider">
		<div class="slide">
			<div class="container">
				<span>45% Скидка</span>
				<b>на все масла</b>
				<a href="#">подробнее</a>
			</div>
		</div>	<!-- slide -->
		<div class="slide">
			<div class="container">
				<span>45% Скидка</span>
				<b>на все масла</b>
				<a href="#">подробнее</a>
			</div>
		</div>	<!-- slide -->
		<div class="slide">
			<div class="container">
				<span>45% Скидка</span>
				<b>на все масла</b>
				<a href="#">подробнее</a>
			</div>
		</div>	<!-- slide -->
	</div>	<!-- main-slider -->
	<div class="container catalog-item">
		<div class="items-catalog">
			<div class="item big oil"><div class="inner">
				<div class="info">
					<span>автомасла</span>
					<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом.</p>
					<a href="#">полный Каталог</a>
				</div>
			</div></div>
			<div class="item big">
				<div class="item middle accessories"><div class="inner">
					<div class="info">
						<span>аксессуары</span>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом.</p>
						<a href="#">полный Каталог</a>
					</div>
				</div></div>
				<div class="item middle parts"><div class="inner">
					<div class="info">
						<span>запчасти</span>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом.</p>
						<a href="#">полный Каталог</a>
					</div>
				</div></div>
			</div>
			<div class="item big chemistry"><div class="inner">
				<div class="info">
					<span>автохимия</span>
					<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом.</p>
					<a href="#">полный Каталог</a>
				</div>
			</div></div>	
		</div>	
		<div class="items-catalog">
			<div class="item small smallType1"><div class="inner">
				<div class="info">
					<span>автохимия</span>					
					<a href="#">полный Каталог</a>
				</div>
			</div></div>
			<div class="item small smallType1"><div class="inner">
				<div class="info">
					<span>автомасла</span>					
					<a href="#">полный Каталог</a>
				</div>
			</div></div>
			<div class="item small smallType2"><div class="inner">
				<div class="info">
					<span>запчасти</span>					
					<a href="#">полный Каталог</a>
				</div>
			</div></div>
			<div class="item small smallType2"><div class="inner">
				<div class="info">
					<span>аксессуары</span>					
					<a href="#">полный Каталог</a>
				</div>
			</div></div>
			<div class="item horizontal">
				<p>Подбор масел <b> и <span>фильтров</span></b></p>
				<!-- <a href="#">подробнее об акции</a> -->
				<a href="#">полный каталог</a>
			</div>	<!-- horizontal -->
		</div>
	</div>	<!-- container catalog-item -->
	<div class="brends-block">
		<h3>Бренды</h3>
		<div class="images">
			<img src="upload/brends/Audi_logo.png" height="70" width="120" alt="">
			<img src="upload/brends/4d3a8e18a36f2adbeab70a5928122552.png" height="74" width="95" alt="">
			<img src="upload/brends/car_logo_PNG1643.png" height="73" width="89" alt="">
			<img src="upload/brends/car_logo_PNG1663.png" height="74" width="57" alt="">
			<img src="upload/brends/car_logo_PNG1644.png" height="75" width="196" alt="">
			<img src="upload/brends/citroen1.png" height="73" width="104" alt="">
			<img src="upload/brends/Skoda_Auto_Logo.png" height="75" width="75" alt="">
			<img src="upload/brends/Renault-logo-2.png" height="62" width="61" alt="">
			<img src="upload/brends/mercedes_logos_PNG14.png" height="74" width="69" alt="">
			<img src="upload/brends/Lincoln-logo-American-car-brands.png" height="73" width="164" alt="">
		</div>
	</div>	<!-- brends-block -->
	<div class="news-block">
		<div class="container">
			<h3>новости</h3>
			<div class="items">
				<div class="item">
					<div class="image">
						<img src="upload/news_03.jpg" height="90" width="90" alt="">
					</div>	<!-- image -->
					<div class="text">
						<h4>Заголовок новости</h4>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом. Летучая Рыба, скажем, за 100 тысяч лет, решает приток. Верховое болото полого притягивает экваториальный нулевой меридиан.</p>
						<a href="#">читать</a>
					</div>	<!-- text -->
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/news_03.jpg" height="90" width="90" alt="">
					</div>	<!-- image -->
					<div class="text">
						<h4>Заголовок новости</h4>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом. Летучая Рыба, скажем, за 100 тысяч лет, решает приток. Верховое болото полого притягивает экваториальный нулевой меридиан.</p>
						<a href="#">читать</a>
					</div>	<!-- text -->
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/news_03.jpg" height="90" width="90" alt="">
					</div>	<!-- image -->
					<div class="text">
						<h4>Заголовок новости</h4>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом. Летучая Рыба, скажем, за 100 тысяч лет, решает приток. Верховое болото полого притягивает экваториальный нулевой меридиан.</p>
						<a href="#">читать</a>
					</div>	<!-- text -->
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/news_03.jpg" height="90" width="90" alt="">
					</div>	<!-- image -->
					<div class="text">
						<h4>Заголовок новости</h4>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом. Летучая Рыба, скажем, за 100 тысяч лет, решает приток. Верховое болото полого притягивает экваториальный нулевой меридиан.</p>
						<a href="#">читать</a>
					</div>	<!-- text -->
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/news_03.jpg" height="90" width="90" alt="">
					</div>	<!-- image -->
					<div class="text">
						<h4>Заголовок новости</h4>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом. Летучая Рыба, скажем, за 100 тысяч лет, решает приток. Верховое болото полого притягивает экваториальный нулевой меридиан.</p>
						<a href="#">читать</a>
					</div>	<!-- text -->
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/news_03.jpg" height="90" width="90" alt="">
					</div>	<!-- image -->
					<div class="text">
						<h4>Заголовок новости</h4>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом. Летучая Рыба, скажем, за 100 тысяч лет, решает приток. Верховое болото полого притягивает экваториальный нулевой меридиан.</p>
						<a href="#">читать</a>
					</div>	<!-- text -->
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/news_03.jpg" height="90" width="90" alt="">
					</div>	<!-- image -->
					<div class="text">
						<h4>Заголовок новости</h4>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом. Летучая Рыба, скажем, за 100 тысяч лет, решает приток. Верховое болото полого притягивает экваториальный нулевой меридиан.</p>
						<a href="#">читать</a>
					</div>	<!-- text -->
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/news_03.jpg" height="90" width="90" alt="">
					</div>	<!-- image -->
					<div class="text">
						<h4>Заголовок новости</h4>
						<p>Варва косвенно оценивает фьорд. Гранит поднимает лимногляциальный керн. Эта разница, вероятно, помогает объяснить, почему отвесная линия опускает центральный перигей. Pадиотелескоп Максвелла перечеркивает космический мусор, день этот пришелся на двадцать шестое число месяца карнея, который у афинян называется метагитнионом. Летучая Рыба, скажем, за 100 тысяч лет, решает приток. Верховое болото полого притягивает экваториальный нулевой меридиан.</p>
						<a href="#">читать</a>
					</div>	<!-- text -->
				</div>	<!-- item -->
			</div>	<!-- items -->
		</div>
	</div>	<!-- news-block -->
</section>