<section class="order-history">
	<div class="container">
		<div class="bread-crumps">
			<a href="#">Название раздела</a><span>/</span>
			<a href="#" class="active">История заказов</a>
		</div>
		<h1>История заказов</h1>
		<div class="order-list">
			<div class="order-wrap">
				<div class="order">
					<div class="left">
						<div class="order-number item-order">
							Заказ №
							<span>15154</span>
						</div>	<!-- order-number -->
						<div class="order-status item-order">
							Статус заказа
							<span>Выполнен</span>
						</div>	<!-- order-status -->
						<div class="order-data item-order">
							Дата 
							<span>12.06.2016</span>
						</div>	<!-- order-data -->
					</div>	<!-- left -->
					<div class="right">
						<button class="open-dropdown">раскрыть</button>
						<div class="totalSum">
							<p>Итоговая <br> сумма</p>
							<div class="price">112 910,00</div>
						</div>
						<button class="repeat">повторить</button>
					</div>	<!-- right -->
				</div>	<!-- order -->
	 			<div class="dropdown-order">
	 				<div class="items scrollbar-inner">
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 				</div>	<!-- items -->
	 				<div class="order bottom">
						<div class="left">
							<div class="order-number item-order">
								Заказ №
								<span>15154</span>
							</div>	<!-- order-number -->
							<div class="order-status item-order">
								Статус заказа
								<span>Выполнен</span>
							</div>	<!-- order-status -->
							<div class="order-data item-order">
								Дата 
								<span>12.06.2016</span>
							</div>	<!-- order-data -->
						</div>	<!-- left -->
						<div class="right">
							<button class="close-dropdown">скрыть</button>
							<div class="totalSum">
								<p>Итоговая <br> сумма</p>
								<div class="price">112 910,00</div>
							</div>
							<button class="repeat">повторить</button>
						</div>	<!-- right -->
					</div>	<!-- order-bottom -->
	 			</div>	<!-- dropdown-order -->
	 		</div> <!-- order-wrap -->
	 		<div class="order-wrap">
				<div class="order">
					<div class="left">
						<div class="order-number item-order">
							Заказ №
							<span>15154</span>
						</div>	<!-- order-number -->
						<div class="order-status item-order">
							Статус заказа
							<span>Выполнен</span>
						</div>	<!-- order-status -->
						<div class="order-data item-order">
							Дата 
							<span>12.06.2016</span>
						</div>	<!-- order-data -->
					</div>	<!-- left -->
					<div class="right">
						<button class="open-dropdown">раскрыть</button>
						<div class="totalSum">
							<p>Итоговая <br> сумма</p>
							<div class="price">112 910,00</div>
						</div>
						<button class="repeat">повторить</button>
					</div>	<!-- right -->
				</div>	<!-- order -->
	 			<div class="dropdown-order">
	 				<div class="items scrollbar-inner">
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 				</div>	<!-- items -->
	 				<div class="order bottom">
						<div class="left">
							<div class="order-number item-order">
								Заказ №
								<span>15154</span>
							</div>	<!-- order-number -->
							<div class="order-status item-order">
								Статус заказа
								<span>Выполнен</span>
							</div>	<!-- order-status -->
							<div class="order-data item-order">
								Дата 
								<span>12.06.2016</span>
							</div>	<!-- order-data -->
						</div>	<!-- left -->
						<div class="right">
							<button class="close-dropdown">скрыть</button>
							<div class="totalSum">
								<p>Итоговая <br> сумма</p>
								<div class="price">112 910,00</div>
							</div>
							<button class="repeat">повторить</button>
						</div>	<!-- right -->
					</div>	<!-- order-bottom -->
	 			</div>	<!-- dropdown-order -->
	 		</div> <!-- order-wrap -->
	 		<div class="order-wrap">
				<div class="order">
					<div class="left">
						<div class="order-number item-order">
							Заказ №
							<span>15154</span>
						</div>	<!-- order-number -->
						<div class="order-status item-order">
							Статус заказа
							<span>Выполнен</span>
						</div>	<!-- order-status -->
						<div class="order-data item-order">
							Дата 
							<span>12.06.2016</span>
						</div>	<!-- order-data -->
					</div>	<!-- left -->
					<div class="right">
						<button class="open-dropdown">раскрыть</button>
						<div class="totalSum">
							<p>Итоговая <br> сумма</p>
							<div class="price">112 910,00</div>
						</div>
						<button class="repeat">повторить</button>
					</div>	<!-- right -->
				</div>	<!-- order -->
	 			<div class="dropdown-order">
	 				<div class="items scrollbar-inner">
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 				</div>	<!-- items -->
	 				<div class="order bottom">
						<div class="left">
							<div class="order-number item-order">
								Заказ №
								<span>15154</span>
							</div>	<!-- order-number -->
							<div class="order-status item-order">
								Статус заказа
								<span>Выполнен</span>
							</div>	<!-- order-status -->
							<div class="order-data item-order">
								Дата 
								<span>12.06.2016</span>
							</div>	<!-- order-data -->
						</div>	<!-- left -->
						<div class="right">
							<button class="close-dropdown">скрыть</button>
							<div class="totalSum">
								<p>Итоговая <br> сумма</p>
								<div class="price">112 910,00</div>
							</div>
							<button class="repeat">повторить</button>
						</div>	<!-- right -->
					</div>	<!-- order-bottom -->
	 			</div>	<!-- dropdown-order -->
	 		</div> <!-- order-wrap -->
	 		<div class="order-wrap">
				<div class="order">
					<div class="left">
						<div class="order-number item-order">
							Заказ №
							<span>15154</span>
						</div>	<!-- order-number -->
						<div class="order-status item-order">
							Статус заказа
							<span>Выполнен</span>
						</div>	<!-- order-status -->
						<div class="order-data item-order">
							Дата 
							<span>12.06.2016</span>
						</div>	<!-- order-data -->
					</div>	<!-- left -->
					<div class="right">
						<button class="open-dropdown">раскрыть</button>
						<div class="totalSum">
							<p>Итоговая <br> сумма</p>
							<div class="price">112 910,00</div>
						</div>
						<button class="repeat">повторить</button>
					</div>	<!-- right -->
				</div>	<!-- order -->
	 			<div class="dropdown-order">
	 				<div class="items scrollbar-inner">
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 					<div class="item">
	 						<div class="left">
	 							<div class="image">
	 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
	 							</div>	<!-- image -->
	 							<div class="info">
	 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
	 							</div>	<!-- info -->
	 							<div class="descr">
	 								<span><b>Размер:</b> 11x22x51</span>
	 								<span><b>Бренд:</b> noname</span>
	 								<span><b>Материал:</b> титаны</span>
	 							</div>	<!-- descr -->
	 						</div>	<!-- left -->
							<div class="right">
	 							<div class="reserve">
	 								Остаток
	 								<span>Очень много</span>
	 							</div>	<!-- reserve -->
								<div class="quantity">
									<b>6 штук</b>
									<span>4 566 за штуку</span>
								</div>	<!-- quantity -->
								<div class="price">
									<div class="new">22 910,00</div>
									<div class="old">Старая цена 2 100,00</div>
								</div>	<!-- price -->
							</div>	<!-- right -->
	 					</div>	<!-- item -->
	 				</div>	<!-- items -->
	 				<div class="order bottom">
						<div class="left">
							<div class="order-number item-order">
								Заказ №
								<span>15154</span>
							</div>	<!-- order-number -->
							<div class="order-status item-order">
								Статус заказа
								<span>Выполнен</span>
							</div>	<!-- order-status -->
							<div class="order-data item-order">
								Дата 
								<span>12.06.2016</span>
							</div>	<!-- order-data -->
						</div>	<!-- left -->
						<div class="right">
							<button class="close-dropdown">скрыть</button>
							<div class="totalSum">
								<p>Итоговая <br> сумма</p>
								<div class="price">112 910,00</div>
							</div>
							<button class="repeat">повторить</button>
						</div>	<!-- right -->
					</div>	<!-- order-bottom -->
	 			</div>	<!-- dropdown-order -->
	 		</div> <!-- order-wrap -->
		</div>	<!-- order-list -->
	</div>	<!-- container -->
</section>	<!-- order-history -->