<script src="vender/slick/slick.min.js"></script>
<script src="vender/scrollbar/jquery.scrollbar.min.js"></script>
<script src="vender/fancybox/js/jquery.fancybox.js"></script>
<script src="js/core.js"></script>