<section class="workcatalog">
	<div class="container">
		<div class="bread-crumps">
			<a href="#">Название раздела</a><span>/</span>
			<a href="#">Название под раздела</a><span>/</span>
			<a href="#" class="active">Название под раздела</a>
		</div>	<!-- bread-crumps -->
		<div class="top">
			<h1>Название подраздела</h1>
			<span>Всего 1 - 25 из 125</span>
		</div>	<!-- top -->
		<div class="content">
			<div class="sidebar">
				<form action="#">
					<div class="top">
						<h5>Выбранные фильтры</h5>
						<button type="reset">очистить</button>
					</div>	<!-- top -->
					<div class="inner">
						<div class="brends">
							<div class="title-open-dropdown">Бренды</div>
							<ul class="dropdown scrollbar-inner">
								<li>
									<input id="check1" type="checkbox">
									<label for="check1">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check8" type="checkbox">
									<label for="check8">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check2" type="checkbox">
									<label for="check2">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check3" type="checkbox">
									<label for="check3">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check4" type="checkbox">
									<label for="check4">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check5" type="checkbox">
									<label for="check5">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check6" type="checkbox">
									<label for="check6">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check7" type="checkbox">
									<label for="check7">Название бренда</label>
									<button class="remove">x</button>
								</li>
							</ul>
						</div>	<!-- brends -->
						<div class="material">
							<div class="title-open-dropdown">Материал</div>
							<ul class="dropdown scrollbar-inner">
								<li>
									<input id="check11" type="checkbox">
									<label for="check11">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check81" type="checkbox">
									<label for="check81">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check91" type="checkbox">
									<label for="check91">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check101" type="checkbox">
									<label for="check101">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check21" type="checkbox">
									<label for="check21">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check31" type="checkbox">
									<label for="check31">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check41" type="checkbox">
									<label for="check41">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check51" type="checkbox">
									<label for="check51">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check61" type="checkbox">
									<label for="check61">Название бренда</label>
									<button class="remove">x</button>
								</li>
								<li>
									<input id="check71" type="checkbox">
									<label for="check71">Название бренда</label>
									<button class="remove">x</button>
								</li>
							</ul>
						</div>	<!-- material -->
						<div class="price">
							<div class="title-open-dropdown">Цена</div>
							<div class="dropdown">
								<div id="keypress"></div>
								<div class="result">
									<div class="row">
										<label for="input-with-keypress-0">От</label>
										<input type="text" id="input-with-keypress-0">
									</div>	<!-- row -->
									<div class="row">
										<label for="input-with-keypress-1">До</label>
										<input type="text" id="input-with-keypress-1">
									</div>	<!-- row -->
								</div>	<!-- result -->
							</div>	<!-- dropdown -->
						</div>
					</div>	<!-- inner -->
				</form>
				<div class="bottom-text">
					Небесная сфера недоступно меняет астероидный восход . Очевидно, что соединение стабильно. Hатpиевые атомы предварительно были замечены близко с центром других комет, но ось жизненно выслеживает астероидный афелий . Восход , на первый взгляд, точно отражает астероидный эффективный диаметp. Млечный Путь решает межпланетный Млечный Путь. Огpомная пылевая кома жизненно представляет собой восход .
				</div>
			</div>	<!-- sidebar -->
			<div class="right-content">
				<div class="option-block">
					<div class="sort">
						<span>Сортировать</span>
						<select>
							<option>По цене</option>
							<option>По дате</option>
							<option>По цене</option>
							<option>По дате</option>
						</select>
					</div>	<!-- sort -->
					<div class="right">
						<div class="show">
							<span>отображение</span>
							<div class="btn-block">
								<button class="line"></button>
								<button class="table"></button>
							</div>	<!-- btn-block -->
						</div>
						<div class="quantity">
							<span>Показать товаров</span>
							<select>
								<option value="">46</option>
								<option value="">20</option>
								<option value="">30</option>
								<option value="">40</option>
							</select>
						</div>
					</div>	<!-- right -->
				</div>	<!-- option-block -->
				<div class="items">
					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
 					<div class="item">
 						<div class="left">
 							<div class="image">
 								<img src="upload/product2.jpg" height="936" width="1000" alt="">
 							</div>	<!-- image -->
 							<div class="info">
 								Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
 							</div>	<!-- info -->
 							<div class="descr">
 								<span><b>Размер:</b> 11x22x51</span>
 								<span><b>Бренд:</b> noname</span>
 								<span><b>Материал:</b> титаны</span>
 							</div>	<!-- descr -->
 						</div>	<!-- left -->
						<div class="right">
 							<div class="reserve">
 								Остаток
 								<span>Очень много</span>
 							</div>	<!-- reserve -->							
							<div class="price">
								<div class="new">22 910,00</div>
								<div class="old">Старая цена 2 100,00</div>
							</div>	<!-- price -->
							<div class="counter">
								<a href="#" class="minus"></a>
								<input class="count" type="text" value="1">
								<a href="#" class="plus"></a>
							</div>
							<button class="toBasket">в корзину</button>
						</div>	<!-- right -->
 					</div>	<!-- item -->
				</div>	<!-- items -->
				<div class="pagination">
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li class="next"><a href="#"></a></li>
					</ul>
				</div>	<!-- pagination -->
			</div>	<!-- right-content -->
		</div>	<!-- content -->
		<div class="special-block">
			<h2><span>спец предложения</span></h2>
			<div class="items spec-slider">
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->						
			</div>	<!-- items slider -->
		</div>	<!-- special -->
	</div>	<!-- container -->
	<div class="brends-block">
		<h3>Бренды</h3>
		<div class="images">
			<img src="upload/brends/Audi_logo.png" height="70" width="120" alt="">
			<img src="upload/brends/4d3a8e18a36f2adbeab70a5928122552.png" height="74" width="95" alt="">
			<img src="upload/brends/car_logo_PNG1643.png" height="73" width="89" alt="">
			<img src="upload/brends/car_logo_PNG1663.png" height="74" width="57" alt="">
			<img src="upload/brends/car_logo_PNG1644.png" height="75" width="196" alt="">
			<img src="upload/brends/citroen1.png" height="73" width="104" alt="">
			<img src="upload/brends/Skoda_Auto_Logo.png" height="75" width="75" alt="">
			<img src="upload/brends/Renault-logo-2.png" height="62" width="61" alt="">
			<img src="upload/brends/mercedes_logos_PNG14.png" height="74" width="69" alt="">
			<img src="upload/brends/Lincoln-logo-American-car-brands.png" height="73" width="164" alt="">
		</div>
	</div>	<!-- brends-block -->
</section>
<div class="down_overflow">
	<div class="top_overflow" id="btn-down_overflow">
		<i></i><i></i><i></i>
	</div>	<!-- top_overflow -->
	<div class="scrollbar-inner wrap" id="down_overflow">		
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->			

		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
		<div class="product">
			<div class="container">
				<div class="left">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>	<!-- image -->
					<div class="info">
						Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131
					</div>	<!-- info -->
					<div class="descr">
						<ul>
							<li><b>Размер:</b> 11x22x51</li>
							<li><b>Бренд:</b> noname</li>
							<li><b>Материал:</b> титаны</li>
							<li><b>Радиус:</b> 15х45</li>
						</ul>				
					</div>	<!-- descr -->
				</div>	<!-- left -->
				<div class="right">
					<div class="balance">
						<b>Остаток</b>
						<span>Очень много</span>
					</div>	<!-- balance -->
					<div class="price">
						<span class="new">22 910,00 </span>
						<span class="old">Старая цена 2 100,00</span>
					</div>
					<div class="counter">
						<a href="#" class="minus"></a>
						<input class="count" type="text" value="1">
						<a href="#" class="plus"></a>
					</div>
					<button class="toBasket">в корзину</button>
					<button class="deleteProduct">Удалить</button>
				</div>	<!-- right -->
			</div>	<!-- container -->
		</div>	<!-- product -->
	</div>	<!-- wrap -->
</div>	<!-- down_overflow -->

<script>
	var keypressSlider = document.getElementById('keypress');
	var input0 = document.getElementById('input-with-keypress-0');
	var input1 = document.getElementById('input-with-keypress-1');
	var inputs = [input0, input1];

	noUiSlider.create(keypressSlider, {
		start: [0, 10000],
		connect: true,
		direction: 'ltr',
		tooltips: [true, wNumb({ decimals: 1 })],
		range: {
			'min': [0],			
			'max': 10000
		}
	});

	keypressSlider.noUiSlider.on('update', function( values, handle ) {
		inputs[handle].value = parseInt(values[handle]);
	});

	function setSliderHandle(i, value) {
		var r = [null,null];
		r[i] = value;
		keypressSlider.noUiSlider.set(r);
	}

	// Listen to keydown events on the input field.
	inputs.forEach(function(input, handle) {

		input.addEventListener('change', function(){
			setSliderHandle(handle, this.value);
		});

		input.addEventListener('keydown', function( e ) {

			var values = keypressSlider.noUiSlider.get();
			var value = Number(values[handle]);

			// [[handle0_down, handle0_up], [handle1_down, handle1_up]]
			var steps = keypressSlider.noUiSlider.steps();

			// [down, up]
			var step = steps[handle];

			var position;

			// 13 is enter,
			// 38 is key up,
			// 40 is key down.
			switch ( e.which ) {

				case 13:
					setSliderHandle(handle, this.value);
					break;

				case 38:

					// Get step to go increase slider value (up)
					position = step[1];

					// false = no step is set
					if ( position === false ) {
						position = 1;
					}

					// null = edge of slider
					if ( position !== null ) {
						setSliderHandle(handle, value + position);
					}

					break;

				case 40:

					position = step[0];

					if ( position === false ) {
						position = 1;
					}

					if ( position !== null ) {
						setSliderHandle(handle, value - position);
					}

					break;
			}
		});
	});
</script>


