<section class="work-selection">
	<div class="container">
		<div class="bread-crumps">
			<a href="#">Название раздела</a><span>/</span>
			<a href="#">Название под раздела</a><span>/</span>
			<a href="#" class="active">Название под раздела</a>
		</div>
		<h1>подбор автомасел и фильтров</h1>
		<div class="items">
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
			<div class="item">
				<div class="image">
					<img src="upload/place_holder.jpg" height="198" width="198" alt="">
				</div>
				<div class="text">название бренда</div>
			</div>
		</div>	<!-- items -->
	</div>	<!-- container -->
</section>