<section class="worksub">
	<div class="container">
		<div class="bread-crumps">
			<a href="#">Название раздела</a><span>/</span>
			<a href="#">Название под раздела</a><span>/</span>
			<a href="#" class="active">Название под раздела</a>
		</div>	<!-- bread-crumps -->
		<div class="top">
			<h1>Название раздела</h1>
			<span>Всего 1 - 25 из 125</span>
		</div>	<!-- top -->
		<div class="content">
			<div class="sidebar">
				<button class="show-sidebar">Подразделы</button>
				<ul class="hide-mobile">
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
					<li class="scrollbar-inner2 open-subsection">
						<span class="title">подраздел</span>
						<ul class="dropdown scrollbar-inner">
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
							<li><a href="">Название группы</a></li>
						</ul>
					</li>
				</ul>
			</div>	<!-- sidebar -->
			<div class="inner">
				<div class="top-inner">
					<h2>Топ Продаж</h2>
					<div class="items">
						<div class="item">
							<h4>Аккумуляторы</h4>
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<span class="price">21 910,00 </span>
						</div>	<!-- item -->
						<div class="item">
							<h4>Аккумуляторы</h4>
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<span class="price">21 910,00 </span>
						</div>	<!-- item -->
						<div class="item">
							<h4>Аккумуляторы</h4>
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<span class="price">21 910,00 </span>
						</div>	<!-- item -->
						<div class="item">
							<h4>Аккумуляторы</h4>
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<span class="price">21 910,00 </span>
						</div>	<!-- item -->
						<div class="item">
							<h4>Аккумуляторы</h4>
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<span class="price">21 910,00 </span>
						</div>	<!-- item -->
					</div>	<!-- items -->
				</div>	<!-- top-inner -->
				<div class="option-block">
					<div class="sort">
						<span>Сортировать</span>
						<select>
							<option>По цене</option>
							<option>По дате</option>
							<option>По цене</option>
							<option>По дате</option>
						</select>
					</div>	<!-- sort -->
					<div class="right">
						<div class="show">
							<span>отображение</span>
							<div class="btn-block">
								<button class="line"></button>
								<button class="table"></button>
							</div>	<!-- btn-block -->
						</div>
						<div class="quantity">
							<span>Показать товаров</span>
							<select>
								<option value="">46</option>
								<option value="">20</option>
								<option value="">30</option>
								<option value="">40</option>
							</select>
						</div>
					</div>	<!-- right -->
				</div>	<!-- option-block -->
				<div class="bottom-inner">
					<div class="items">
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->
						<div class="item">
							<div class="image">
								<img src="upload/product2.jpg" height="936" width="1000" alt="">
							</div>
							<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
							<div class="descr">
								<span>111387s</span>
								<span>yt12bbs</span>
								<span>moratti</span>
							</div>
							<div class="price">
								<span class="new">21 910,00 </span>
								<span class="old">Без скидки 2 100,00</span>
							</div>
							<button>в корзину</button>
						</div>	<!-- item -->						
					</div>	<!-- items -->
				</div>	<!-- bottom-inner -->
				<div class="pagination">
					<ul>
						<li class="active"><a href="#">1</a></li>
						<li><a href="#">2</a></li>
						<li><a href="#">3</a></li>
						<li><a href="#">4</a></li>
						<li><a href="#">5</a></li>
						<li><a href="#">6</a></li>
						<li class="next"><a href="#"></a></li>
					</ul>
				</div>	<!-- pagination -->
			</div><!-- inner -->
		</div>	<!-- content -->
		<div class="special-block">
			<h2><span>спец предложения</span></h2>
			<div class="items spec-slider">
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->
				<div class="item">
					<div class="image">
						<img src="upload/product2.jpg" height="936" width="1000" alt="">
					</div>
					<p>Аккумулятор Moratti 12V10Ah залит. п/п ток 95 152x88x131</p>
					<div class="descr">
						<span>111387s</span>
						<span>yt12bbs</span>
						<span>moratti</span>
					</div>
					<div class="price">
						<span class="new">21 910,00 </span>
						<span class="old">Без скидки 2 100,00</span>
					</div>
					<button>в корзину</button>
				</div>	<!-- item -->						
			</div>	<!-- items slider -->
		</div>	<!-- special -->
	</div>	<!-- container -->
	<div class="brends-block">
		<h3>Бренды</h3>
		<div class="images">
			<img src="upload/brends/Audi_logo.png" height="70" width="120" alt="">
			<img src="upload/brends/4d3a8e18a36f2adbeab70a5928122552.png" height="74" width="95" alt="">
			<img src="upload/brends/car_logo_PNG1643.png" height="73" width="89" alt="">
			<img src="upload/brends/car_logo_PNG1663.png" height="74" width="57" alt="">
			<img src="upload/brends/car_logo_PNG1644.png" height="75" width="196" alt="">
			<img src="upload/brends/citroen1.png" height="73" width="104" alt="">
			<img src="upload/brends/Skoda_Auto_Logo.png" height="75" width="75" alt="">
			<img src="upload/brends/Renault-logo-2.png" height="62" width="61" alt="">
			<img src="upload/brends/mercedes_logos_PNG14.png" height="74" width="69" alt="">
			<img src="upload/brends/Lincoln-logo-American-car-brands.png" height="73" width="164" alt="">
		</div>
	</div>	<!-- brends-block -->
</section>